<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>piglatinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/result" method="POST">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" name="phrase" id="phrase">
      <input tupe="submit" id="Submit">
    </form>
  </body>
</html>